# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# Media
web/code/media/

# Node modules
web/code/static/app/node_modules

# DataBase
db/data

# Migrations
migrations

.DS_Store
.idea/

*.pyc
