.footerBox {
    width: 1170px;
    margin: auto;
    min-height: 10px;
}
.contacts {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.adress {
    display: inline-block;
    width: 50%;
    text-align: left;
}
.contacts > div > span {
    margin-left: 10px;
    font-size: 20px;
}
.contacts > div {
    margin-right: 20px;
}
.footerBox > h4 {
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
}
.adress > span {
    font-size: 13px;
    margin-left: 20px;
}
.adress > p {
    font-weight: 700;
    margin-left: 20px;
}
.iconBox {

}
.iconBox > div {

}
.socialIcons > * {
    margin-top: 36px;
    display: inline-block;
    color: #1b877e;
    margin-left: 20px;
}
.footerText {
    color: #000 !important;
}
.socialIcons {
    float: left;
    height: 100px;
    width: 52%;
}
.footerLogoSize {
    background-size: 100px !important;
}
.footerLogoText {
    margin-left: 0px !important;
    font-size: 10px !important;
    margin-top: 36px !important;
}
@media screen and (max-width: 1170px) {
    .footerBox {
        width: 900px;
        margin: auto;
        min-height: 10px;
    }
}
@media (max-width: 900px) and (min-width: 100px) {
    .footerBox {
        width: 100%;
        margin: auto;
        min-height: 10px;
    }
}
