.portfolioBox {
    width: 1170px;
    /*height: 500px;*/
    margin: auto;
}
.portfolioBox > div {
    width: 350px;
    height: 500px;
    display: inline-block;
    margin: 0px 20px;
    overflow: hidden;
}
.portfolioBox > div.portfolioItem {
    background: #222431;
    color: #fff;
    transition: background .5s, color .5s;
}
.portfolioBox > div > div {
    height: 233px;
    overflow: hidden;
}
.portfolioBox > div > div > img {
    /* height: 262px; */
    margin: auto;
    /* text-align: center; */
    display: inline-block;
    /*width: 100%;*/
    height: 100%;
}
.portfolioBox > div.portfolioTitle > span {
    display: inline-block;
    width: 100%;
}
.portfolioBox > div.portfolioTitle > span:nth-child(2) {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.portfolioBox > div.portfolioTitle > span:nth-child(3) {
    text-align: center;
    font-size: 13px;
    color: grey;
}
.portfolioBox > div.portfolioTitle {
    width: 100%;
    height: initial;
    margin: 0px;
    margin-bottom: 34px;
}
.portfolioBox > div > div.line, div.line {
    height: 10px;
    width: 141px;
    margin: auto;
    border-top: 1px solid;
    display: block;
}
.portfolioBox > span {
    display: inline-block;
    width: 100%;
}
.portfolioBox > span:nth-child(6) {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.portfolioBox > span:nth-child(7) {
    text-align: center;
    font-size: 13px;
    color: grey;
}
.portfolioBox > a > button {
    width: 390px;
    margin-top: 30px;
    height: 55px;
    border-radius: 55px;
    background: rgba(0,0,0,0);
    border: 1px solid #000;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: lighter;
    transition: background 0.4s, color 0.4s;
    cursor: pointer;
    outline: 0px;
    margin: auto;
    display: block;
    /*margin-top: 30px;*/
    /*margin-bottom: 24px;*/

}
.portfolioBox > a {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 24px;
    text-decoration: none;

}
.portfolioBox > div > div > h3 {
    text-align: center;
}
.portfolioBox > div > div > p {
    display: inline-block;
    height: 140px;
    overflow: auto;
    color: #72758a;
}
.portfolioBox > div.portfolioItem:hover{
    background: #fff;
    color: #000;
}
.portfolioBox > a > button:hover {
    background: #000;
    color: #fff;
}
.portfolioBox > div > div.boxDiscription {
    padding: 15px;
    text-align: center;
    position: relative;

}
.portfolioBox > div > div.boxDiscription > p {
    color: rgb(114, 117, 138);
}
.boxDiscription > p > a > button.aboutMore {
    border-radius: 14px;
    border: solid 1px rgb(114, 117, 138);
    background: rgba(0,0,0,0);
    height: 17px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    color: rgb(114, 117, 138);
    margin-left: 5px;
}
.boxDiscription > p > a > button.aboutMore:hover {
    border-radius: 14px;
    border: solid 1px rgb(114, 117, 138);
    background: rgb(114, 117, 138);
    height: 17px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    margin-left: 5px;
}
/*.portfolioBox > div > div.boxDiscription:before {*/
    /*position: absolute;*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 0;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*border-style: solid;*/
    /*border-width: 74px 175px 0px 175px;*/
    /*border-color: #ffffff transparent transparent transparent;*/
/*}*/
@media screen and (max-width: 1170px) {
    .portfolioBox {
        width: 900px;
        /* height: 500px; */
        margin: auto;
    }
    .portfolioBox > div {
        width: 260px;
        height: 500px;
        display: inline-block;
        margin: 0px 20px;
        overflow: hidden;
    }
    .portfolioBox > div > div {
        height: 169px;
        overflow: hidden;
    }
    .portfolioBox > div > div.line, div.line {
        height: 10px;
        width: 141px;
        margin: auto;
        border-top: 1px solid;
        display: block;
    }
    .portfolioBox > div > div.boxDiscription {
        height: 301px;
    }
    .portfolioBox > div > div > p {
        height: inherit;
    }
    .modalBox {
        width: calc(100% - 40px);
        /* height: 300px; */
        background: #fff;
        margin: auto;
        /* margin-top: 20px; */
        padding: 20px;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 3px;
    }
    .boxImage {
        width: 60%;
        float: left;
    }
    .footerModal {
        padding-top: 10px;
        /* border-top: 1px solid rgb(227,227,227); */
        width: calc(100% - 63%);
        float: left;
        padding: 10px;
        padding-top: 0px;
    }
}
@media (max-width: 900px) and (min-width: 100px) {
    .portfolioBox {
        width: 100%;
        /* height: 500px; */
        margin: auto;
        padding: 10px 0px;
    }
    .portfolioBox > div {
        width: 205px;
        height: 500px;
        display: inline-block;
        margin: 0px 20px;
        overflow: hidden;
    }
    .portfolioBox > a > button {
        width: 160px;
        margin-top: 30px;
        height: 28px;
        border-radius: 55px;
        background: rgba(0,0,0,0);
        border: 1px solid #000;
        font-size: 13px;
        color: #000;
        text-transform: uppercase;
        font-weight: lighter;
        transition: background 0.4s, color 0.4s;
        cursor: pointer;
        outline: 0px;
        margin: auto;
        display: block;
        /* margin-top: 30px; */
        /* margin-bottom: 24px; */
    }
    .portfolioBox > div > div > p {
        height: 224px;
        font-size: 13px;
    }
}
