.reviewsBox {
    width: 1170px;
    margin: auto;
    min-height: 100px;
}
.reviewsList {
    list-style: none;
    padding: 0px;
}
.reviewsList > li {
    width: 48.7%;
    height: 179px;
    margin-bottom: 30px;
    display: inline-block;
    background: rgb(50,50,50);
    color: #fff;
}
.reviewsList > li:nth-child(2n) {
    margin-bottom: 30px;
    margin-left: 30px;
}
.reviewsList > li > img {
    width: 170px;
    float: left;
}
.reviewsList > li > div {
    width: calc(100% - 170px);
    display: inline-block;
    height: 179px;
    position: relative;
}
.reviewsList > li > div > h4 {
    margin-left: 23px;
    font-size: 19px;
    margin-bottom: 10px;
}
.reviewsList > li > div > p {
    margin-left: 23px;
}
.reviewsList > li > div > a {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #ffed97;
    transition: color .3s;
    text-decoration: none;
}
.reviewsList > li > div > a:hover {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
}
@media screen and (max-width: 1170px) {
    .reviewsBox {
        width: 900px;
        margin: auto;
        min-height: 100px;
    }
    .reviewsList > li:nth-child(2n) {
        margin-bottom: 30px;
        margin-left: 22px;
    }
    .reviewsList > li > div > h4 {
        margin-left: 23px;
        font-size: 19px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
