.reviewsBox {
    width: 1170px;
    margin: auto;
    min-height: 100px;
}
.reviewsBox > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    /* color: white; */
    text-transform: uppercase;
    font-weight: 900;
}
.reviewsList {
    list-style: none;
    padding: 0px;
}
.reviewsList > li {
    width: 48.7%;
    height: 159px;
    margin-bottom: 30px;
    display: inline-block;
    background: rgb(50,50,50);
    color: #fff;
}
.reviewsList > li:nth-child(2n) {
    margin-bottom: 30px;
    margin-left: 30px;
}
.reviewsList > li > img {
    width: 170px;
    float: left;
}
.reviewsList > li > div.revImageBox {
    width: 170px;
    float: left;
    background: rgba(0,0,0,.4);
    position: relative;
    overflow: hidden;
}
.reviewsList > li > div.revImageBox > div.inlineComponent {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}
.revImageBox > img {
    /* width: 170px; */
    /* float: left; */
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}
.reviewsList > li > div {
    width: calc(100% - 210px);
    display: inline-block;
    height: 139px;
    position: relative;
    padding: 10px;
}
.reviewsList > li > div > h4 {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.reviewsList > li > div > p {
    /*margin-left: 23px;*/
    color: #72758a;
}
.reviewsList > li > div > a {
    float: right;
    /*margin-right: 10px;*/
    font-size: 14px;
    color: #ffed97;
    transition: color .3s;
    text-decoration: none;
}
.reviewsList > li > div > a:hover {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
}
.reviewsBox > a {
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 24px;
}
.reviewsBox > a > button {
    width: 330px;
    margin-top: 30px;
    height: 55px;
    border-radius: 55px;
    background: rgba(0,0,0,0);
    border: 1px solid #000;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: lighter;
    transition: background 0.4s, color 0.4s;
    cursor: pointer;
    outline: 0px;
    margin: auto;
    display: block;
}
.reviewsBox > a > button:hover {
    background: #000;
    color: #fff;
}
@media screen and (max-width: 1170px) {
    .reviewsBox {
        width: 900px;
        margin: auto;
        min-height: 100px;
    }
    .reviewsList > li:nth-child(2n) {
        margin-bottom: 30px;
        margin-left: 22px;
    }
    .reviewsList > li > div > h4 {
        font-size: 19px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .reviewsList > li > div.revImageBox {
        width: 160px;
        float: left;
        background: rgba(0,0,0,.4);
        position: relative;
        overflow: hidden;
    }
    .reviewsList > li > div {
        width: calc(100% - 200px);
        display: inline-block;
        height: 139px;
        position: relative;
        padding: 10px;
    }
    .reviewsList > li > div > p {
        /* margin-left: 23px; */
        color: #72758a;
        font-size: 13px;
    }
}
@media (max-width: 900px) and (min-width: 100px) {
    .reviewsBox {
        width: 100%;
        margin: auto;
        min-height: 100px;
    }
    .reviewsList > li {
        width: 76.7%;
        height: 125px;
        margin: auto;
        margin-bottom: 30px;
        display: block;
        background: rgb(50,50,50);
        color: #fff;
    }
    .reviewsList > li > div.revImageBox {
        height: 105px;
    }
    .reviewsBox > a > button {
        width: 123px;
        margin-top: 30px;
        height: 28px;
        border-radius: 55px;
        background: rgba(0,0,0,0);
        border: 1px solid #000;
        font-size: 13px;
        color: #000;
        text-transform: uppercase;
        font-weight: lighter;
        transition: background 0.4s, color 0.4s;
        cursor: pointer;
        outline: 0px;
        margin: auto;
        display: block;
    }
}
